% strani = [
% 'osebna knjižnica',
% 'posodabljanje knjižnice',
% 'urejanje neprebranih',
% 'urejanje trenutnih',
% 'urejanje prebranih',
% 'kategorije prebranih',
% 'pomoc pri uporabi',
% ]
% naslov_strani = {
% 'osebna knjižnica': 'Vaša osebna knjižnica',
% 'posodabljanje knjižnica': 'Posodabljenje osebne knjižnice',
% 'urejanje neprebranih': 'Neprebrane knjige',
% 'urejanje trenutnih': 'Trenutna branja',
% 'urejanje prebranih': 'Prebrane knjige',
% 'kategorije prebranih': 'Kategorije prebranih knjig',
% 'pomoc pri uporabi': 'Pomoč pri uporabi',
% }

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    % if defined('trenutna_stran'):
    <title>Knjigožer | {{naslov_strani[trenutna_stran]}}</title>
    % else:
    <title>Knjigožer | Prijava</title>
    % end
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar is-dark is-spaced has-shadow is-transparent">
        <div class="container">
            <div class="navbar-brand">
                % if defined('trenutna_stran'):
                <a class="navbar-item is-active has-tooltip-bottom" 
                    data-tooltip="Oglejte si osebno knjižnico" href="/">
                    % else:
                    <a class="navbar-item is-active" href="/prijava/">
                        % end
                        <span class="icon is-large">
                            <i class="fas fa-inverse fa-2x fa-book-reader"></i>
                        </span>
                        <span class="title has-text-light">
                            knjigožer
                        </span>
                    </a>
            </div>
            % if defined('trenutna_stran'):
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item is-active is-hoverable has-tooltip-bottom"
                        data-tooltip="Uredite neprebrane knjige" href="/neprebrane/">
                        <span class="icon is-large">
                            <i class="fas fa-book-open"></i>
                        </span>
                        Neprebrane knjige
                    </a>

                    <a class="navbar-item is-active has-tooltip-bottom" 
                        data-tooltip="Uredite trenutna branja" href="/trenutne/">
                        <span class="icon is-large">
                            <i class="fas fa-bookmark"></i>
                        </span>
                        Trenutna branja
                    </a>

                    <a class="navbar-item is-active has-tooltip-bottom"
                        data-tooltip="Uredite prebrane knjige in kategorije" href="/prebrane/">
                        <span class="icon is-large">
                            <i class="fas fa-book"></i>
                        </span>
                        Prebrane knjige
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-light is-small has-text-black" href="/pomoc/">
                                    Pomoč pri uporabi
                                </a>
                            </p>
                            <p class="control">
                            <form method="POST" action="/odjava/">
                                <input type="submit" 
                                    class="button is-light is-small has-text-black" value="Odjava">
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            % end
        </div>
    </nav>
    % if defined('trenutna_stran') and trenutna_stran != 'pomoc pri uporabi':
    <section class="section">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading has-text-dark">Število neprebranih knjig</p>
                    <a class="title is-active has-text-dark has-tooltip-bottom" 
                        data-tooltip="Uredite neprebrane knjige"
                        href="/neprebrane/">{{len(knjigozer.neprebrane)}}</a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading has-text-dark">Število trenutnih branj</p>
                    <a class="title is-active has-text-dark has-tooltip-bottom" data-tooltip="Uredite trenutna branja"
                        href="/trenutne/">{{len(knjigozer.trenutne)}}</a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading has-text-dark">Število prebranih knjig</p>
                    <a class="title is-active has-text-dark has-tooltip-bottom"
                        data-tooltip="Uredite prebrane knjige in kategorije"
                        href="/prebrane/">{{len(knjigozer.prebrane)}}</a>
                </div>
            </div>
        </nav>
    </section>
    % end
    {{!base}}
</body>

</html>