% rebase('osnova.html', trenutna_stran='pomoc pri uporabi')

<section class="section">
    <h1 class="title">Pomoč pri uporabi</h1>
    <h2 class="subtitle">
        Tukaj se lahko bolje seznanite z vsemi možnostmi urejanja vaše osebne knjižnice.
    </h2>
    <div class="content">
        <p>
            Seznam "<strong>Neprebrane knjige</strong>" je namenjen knjigam, ki si jih želite prebrati.<br>
            Knjige lahko na ta seznam dodajate na začetni strani.<br>
            Za ogled in urejanje vseh vaših neprebranih knjig kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book-open"></i>.
        </p>
        <p>
            Seznam "<strong>Trenutna branja</strong>" je namenjen knjigam, ki si jih trenutno berete.<br>
            Na začetni strani lahko na ta seznam dodajate neprebrane knjige, ki so že v vaši knjižnici, ter posodabljate vaš bralni napredek.<br>
            Če pa želite med trenutna branja dodati knjigo, ki je v vaši knjižnici še ni, kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-bookmark"></i>,
            kjer si lahko vsa vaša trenutna branja tudi ogledate ali pa jih uredite.
        </p>
        <p>
            Seznam <strong>"Prebrane knjige"</strong> je namenjen knjigam, ki ste jih že prebrali.<br>
            Na začetni strani lahko na ta seznam dodajate knjige, ki so že v vaši knjižnici bodisi med neprebranimi knjigami bodisi med trenutnimi branji.<br>
            Če pa želite med prebrane knjige dodati knjigo, ki je v vaši knjižnici še ni, kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book"></i>,
            kjer si lahko vse vaše prebrane knjige tudi ogledate ali pa jih uredite.
        </p>
    </div>
</section>