% rebase('osnova.html', trenutna_stran='pomoc pri uporabi')

<section class="section has-text-centered">
    <h1 class="title">Pomoč pri uporabi</h1>
    <h2 class="subtitle">
        Tukaj se lahko bolje seznanite z vsemi možnostmi urejanja osebne knjižnice.
    </h2>
    <div class="container">
        <a class="button is-active" href="/knjigozer/">
            Vaša osebna knjižnica
        </a>
    </div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="container">
        <div class="content">
            <p>
                Po prijavi v program Knjigožer se vam na začetni strani prikaže 
                "<strong>Vaša osebna knjižnica</strong>", do katere lahko kadarkoli dostopate 
                tudi s klikom na ikono &nbsp;<i class="fas fa-book-reader"></i> v orodni vrstici.
                Tam si lahko ogledate vse knjige, ki so trenutno v vaši knjižnici, 
                in sicer najprej vse neprebrane, nato vsa trenutna branja in 
                najbolj spodaj še vse prebrane knjige. 
                Znotraj posameznih seznamov so knjige razporejene po abecednem redu priimkov avtorjev.
            </p>
            <div class="column"></div>
            <p>
                Osebno knjižnico lahko posodabljate tako, da kliknete na gumb, 
                označen "<strong>Posodobite osebno knjižnico</strong>",
                ki vam je na voljo na začetni strani ter kadarkoli urejate neprebrane knjige, 
                trenutna branja ali prebrane knjige.
                Tam lahko urejate statuse knjig, ki so že v vaši osebni knjižnici.
            </p>
            <div class="column"></div>
            <p>
                Seznam "<strong>Neprebrane knjige</strong>" je namenjen knjigam, 
                ki si jih želite prebrati.
                Za dodajanje novih neprebranih knjig (ali ogled in urejanje vseh že dodanih) 
                kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book-open"></i>.
                Pri <strong>posodabljanju osebne knjižnice</strong> pa lahko neprebrane knjige, 
                ki so že v osebni knjižnici, prenesete med trenutna branja 
                ali direktno med prebrane knjige.
            </p>
            <div class="column"></div>
            <p>
                Seznam "<strong>Trenutna branja</strong>" je namenjen knjigam, ki jih trenutno berete.
                Če želite med trenutna branja dodati knjigo, ki je v vaši knjižnici še ni, 
                kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-bookmark"></i>,
                kjer si lahko vsa vaša trenutna branja tudi ogledate ali jih uredite 
                oziroma vrnete nazaj k neprebranim knjigam.
                Pri <strong>posodabljanju osebne knjižnice</strong> pa lahko na seznam trenutnih branj 
                dodajate neprebrane in prebrane knjige, ki so že v vaši knjižnici, 
                ter posodabljate vaš bralni napredek v knjigah, ki jih trenutno berete.
            </p>
            <div class="column"></div>
            <p>
                Seznam "<strong>Prebrane knjige</strong>" je namenjen knjigam, ki ste jih že prebrali.
                Če želite med prebrane knjige dodati knjigo, ki je v vaši knjižnici še ni, 
                kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book"></i>,
                kjer si lahko vse vaše prebrane knjige tudi ogledate ali jih uredite. 
                Prav tako lahko s te strani nadaljujete na stran "<strong>Kategorije</strong>",
                kjer si lahko ogledate vse vaše kategorije prebranih knjig, 
                dodajate nove ali brišete že obstoječe ter vanje razvrščate prebrane knjige.
                Pri <strong>posodabljanju osebne knjižnice</strong> lahko na seznam prebranih knjig 
                dodajate neprebrane knjige ali trenutna branja, ko jih preberete do konca. 
            </p>
        </div>
    </div>
</section>