% rebase('osnova.html', trenutna_stran='pomoc pri uporabi')

<section class="section has-text-centered">
    <h1 class="title">Pomoč pri uporabi</h1>
    <h2 class="subtitle">
        Tukaj se lahko bolje seznanite z vsemi možnostmi urejanja osebne knjižnice.
    </h2>
    <div class="container">
        <a class="button is-active" href="/knjigozer/">
            Vaša osebna knjižnica
        </a>
    </div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="container">
        <div class="content">
            <p>
                Seznam "<strong>Neprebrane knjige</strong>" je namenjen knjigam, ki si jih želite prebrati.
                Za dodajanje novih neprebranih knjig (ali ogled in urejanje vseh že dodanih) kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book-open"></i>.
                Neprebrane knjige, ki so že v osebni knjižnici, lahko nato prenesete med trenutna branja 
                ali pa med prebrane knjige, ko posodabljate osebno knjižnico.
            </p>
            <div class="column"></div>
            <p>
                Seznam "<strong>Trenutna branja</strong>" je namenjen knjigam, ki si jih trenutno berete.
                Če želite med trenutna branja dodati knjigo, ki je v vaši knjižnici še ni, kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-bookmark"></i>,
                kjer si lahko vsa vaša trenutna branja tudi ogledate ali jih uredite.
                Pri posodabljanju osebne knjižnice pa lahko na seznam trenutnih branj dodajate neprebrane knjige, ki so že v vaši knjižnici, 
                ter posodabljate vaš bralni napredek v knjigah, ki jih trenutno berete.
            </p>
            <div class="column"></div>
            <p>
                Seznam <strong>"Prebrane knjige"</strong> je namenjen knjigam, ki ste jih že prebrali.
                Če želite med prebrane knjige dodati knjigo, ki je v vaši knjižnici še ni, kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book"></i>,
                kjer si lahko vse vaše prebrane knjige tudi ogledate ali pa jih uredite.
                Ko posodabljate osebno knjižnico, lahko na ta seznam dodajate knjige, ki so že v vaši knjižnici bodisi med neprebranimi knjigami bodisi med trenutnimi branji.
                Poleg tega lahko prebrane knjige razvrščate v poljubne kategorije. 
                Ko si ogledujete celoten seznam prebranih knjig, lahko vidite, v katere kategorije ste dodali posamezne knjige.
                Ob dodajanju novih prebranih knjig le-te avtomatsko ne bodo umeščene v nobeno kategorijo, potem pa jih lahko kategorizirate med posodabljanjem osebne knjižnice, 
                kjer lahko tudi ustvarjate nove kategorije ali brišete že obstoječe.
            </p>
            <div class="column"></div>
            <p>
                Kadarkoli se želite vrniti na začetno stran, kjer je prikazana "<strong>Vaša osebna knjižnica</strong>",
                kliknite v orodni vrstici na ikono &nbsp;<i class="fas fa-book-reader"></i>.
            </p>
        </div>
    </div>
</section>