% rebase('osnova.html')

<section class="section">
    <section class="section">
        <h1 class="title is-1">Pozdravljeni!</h1>
        <h2 class="subtitle">
            Za dostop do vaše osebne knjižnice se je potrebno prijaviti.<br>
            Če pa vas &nbsp;<i class="fas fa-book-reader"></i> <strong>knjigožer</strong> še ne pozna, izberite možnost registracije.
        </h2>
    </section>
    
    
    <form method="POST">
        <div class="container">
            <h1 class="title is-4">Prijava</h1>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="uporabniško ime" name="uporabnisko_ime">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="geslo" name="geslo">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-dark" value="prijavite se">
                </div>
            </div>
        </div>
    </form>
    
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    
    <form method="POST">
        <div class="container">
            <h1 class="title is-4">Registracija</h1>
            <div class="field">
                <input type="hidden" name="nov_racun">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="uporabniško ime" name="uporabnisko_ime">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="geslo" name="geslo">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-dark" value="registrirajte se">
                </div>
            </div>
        </div>
    </form>
</section>