% rebase('osnova.html', trenutna_stran='urejanje trenutnih')

<body>
    <div class="container has-text-centered">
        <h1 class="title">
            Trenutna branja
        </h1>
        <h2 class="subtitle">
            Tukaj lahko na seznam trenutnih branj dodajate knjige, ki jih še ni v vaši osebni knjižnici.<br>
            Prav tako lahko knjige, ki so na tem seznamu, urejate.
        </h2>
        <div class="container">
            <a class="button is-active" href="/posodabljanje/">
                Posodobite osebno knjižnico
            </a>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">avtor</th>
                        <th style="text-align: center; vertical-align: middle;">naslov</th>
                        <th style="text-align: center; vertical-align: middle;" colspan="2">napredek</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/dodaj-trenutno/" method="POST">
                        <tr>
                            <td>
                                <input class="input is-small is-rounded is-dark" type="text" id="avtor" name="avtor"
                                    placeholder="priimek, ime" pattern="(?=.*[,][ ].*).*"
                                    title='Avtorja vnesite v obliki: "priimek, ime"' required>
                            </td>
                            <td>
                                <input class="input is-small is-rounded is-dark" type="text" id="naslov" name="naslov"
                                    placeholder="naslov" required>
                            </td>
                            <td>
                                <input class="input is-small is-rounded is-dark" type="text" id="napredek"
                                    name="napredek" placeholder="število prebranih strani" pattern="[0-9]+"
                                    title='Tukaj je treba vnesti številko' required>
                            </td>
                            <td>
                                <input class="input is-small is-rounded is-dark" type="text" id="strani" name="strani"
                                    placeholder="število vseh strani" pattern="[0-9]+"
                                    title='Tukaj je treba vnesti številko' required>
                            </td>
                            <td style="text-align: right; vertical-align: middle;">
                                <div class="field">
                                    <div class="control">
                                        <input type="submit" class="button is-small is-success is-light"
                                            value="dodaj k trenutnim branjem">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </form>
                    % for trenutna in sorted(knjigozer.trenutne):
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">{{trenutna.avtor}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{trenutna.naslov}}</td>
                        <td colspan="2" style="vertical-align: middle;">
                            <progress class="progress is-dark" value="{{knjigozer.prebran_del(trenutna)}}"
                                max="1"></progress>
                        </td>
                        <td style="text-align: right; vertical-align: middle;">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <form action="/opuscena-trenutna/" method="POST">
                                        <input type="hidden" name="trenutna"
                                            value="{{trenutna.avtor}}; {{trenutna.naslov}}">
                                        <input type="submit" class="button is-small is-warning is-light"
                                            value="vrni med neprebrane">
                                    </form>
                                </div>
                                <div class="control">
                                    <form action="/odstrani-trenutno/" method="POST">
                                        <input type="hidden" name="trenutna"
                                            value="{{trenutna.avtor}}; {{trenutna.naslov}}">
                                        <input type="submit" class="button is-small is-danger is-light"
                                            value="odstrani iz knjižnice">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    % end
                </tbody>
            </table>
        </div>
    </section>
</body>