% rebase('osnova.html', trenutna_stran='osebna knjižnica')

<body>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Število neprebranih knjig</p>
                <p class="title">{{len(knjigozer.neprebrane)}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Število trenutnih branj</p>
                <p class="title">{{len(knjigozer.trenutne)}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Število prebranih knjig</p>
                <p class="title">{{len(knjigozer.prebrane)}}</p>
            </div>
        </div>
    </nav>
</body>