% rebase('osnova.html', trenutna_stran='osebna knjižnica')

<div class="container has-text-centered">
    <h1 class="title">
        Vaša osebna knjižnica
    </h1>
    <h2 class="subtitle">
        Tukaj si lahko ogledate vse knjige, ki so trenutno v vaši knjižnici.
    </h2>
    <div class="field">
        <a class="button is-active" href="/posodabljanje/">
            Posodobite osebno knjižnico
        </a>
        <a class="button is-active" href="/neprebrane/">
            Dodajte in uredite neprebrane knjige
        </a>
        <a class="button is-active" href="/trenutne/">
            Dodajte in uredite trenutna branje
        </a>
        <a class="button is-active" href="/prebrane/">
            Dodajte in uredite prebrane knjige
        </a>
    </div>
</div>

% if len(knjigozer.neprebrane) != 0 or len(knjigozer.trenutne) != 0 or len(knjigozer.prebrane) != 0:
<section class="section">
    <div class="container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">avtor</th>
                    <th style="text-align: center; vertical-align: middle;">naslov</th>
                    <th style="text-align: center; vertical-align: middle;">napredek</th>
                </tr>
            </thead>
            <tbody>
                % for neprebrana in sorted(knjigozer.neprebrane):
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{neprebrana.avtor}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{neprebrana.naslov}}</td>
                    <td style="text-align: right; vertical-align: middle;">
                        <progress class="progress is-dark" value="{{0}}" max="1"></progress>
                    </td>
                </tr>
                % end
                % for trenutna in sorted(knjigozer.trenutne):
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{trenutna.avtor}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{trenutna.naslov}}</td>
                    <td style="text-align: right; vertical-align: middle;">
                        <progress class="progress" value="{{knjigozer.prebran_del(trenutna)}}" max="1"></progress>
                    </td>
                </tr>
                % end
                % for prebrana in sorted(knjigozer.prebrane):
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{prebrana.avtor}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{prebrana.naslov}}</td>
                    <td style="text-align: right; vertical-align: middle;">
                        <progress class="progress" value="{{1}}" max="1"></progress>
                    </td>
                </tr>
                % end
            </tbody>
        </table>
    </div>
</section>
% end